In [1]:
import numpy as np
import pandas as pd

In [2]:
index = pd.date_range('10/1/1999', periods=1100)

In [3]:
ts = pd.Series(np.random.normal(0.5, 2, 1100), index)

In [7]:
ts = pd.rolling_mean(ts, 100, 100).dropna()

In [9]:
ts.head()

2000-01-08    0.464149
2000-01-09    0.479059
2000-01-10    0.496560
2000-01-11    0.506290
2000-01-12    0.521657
Freq: D, dtype: float64

In [10]:
key = lambda x: x.year

In [21]:
zscore = lambda x: (x - x.mean()) / x.std()

In [43]:
zscore = lambda x: (x*100)/x.sum()

In [44]:
transformed = ts.groupby(key).transform(zscore)

In [45]:
transformed.shape

(1001,)

In [46]:
len(df_g.get_group(2000))

359

In [48]:
transformed.head()

2000-01-08    0.259905
2000-01-09    0.268255
2000-01-10    0.278054
2000-01-11    0.283503
2000-01-12    0.292108
Freq: D, dtype: float64

In [49]:
transformed = transformed.groupby(key).sum()

In [50]:
transformed

2000    100
2001    100
2002    100
dtype: float64

In [52]:
countries = np.array(['US', 'UK', 'GR', 'JP'])

In [59]:
key = countries[np.random.randint(0, 4, 1000)]

In [57]:
data_df = pd.DataFrame({'A':np.random.randn(1000),'B':np.random.randn(1000),'C':np.random.randn(1000)})

In [60]:
grouped = data_df.groupby(key)

In [62]:
grouped.count()

      A    B    C
GR  252  252  252
JP  229  229  229
UK  263  263  263
US  256  256  256